
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Segoe UI', sans-serif;
      /* border: 1px solid white; */
    }

    body {
      background: #111112;
      color: #fff;

    }

    /* ================= NAVBAR ================= */
    .navbar {
      background: #0c0d10;
      padding: 20px 0;
    }

    .logo {
      font-size: 26px;
      font-weight: 700;
    }

    .navbar-nav .nav-link {
      position: relative;
      color: #fff;
      padding: 8px 0;
      margin-left: 25px;
      transition: color 0.3s ease;
    }

    /* underline */
    .navbar-nav .nav-link::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -6px;
      width: 0%;
      height: 2px;
      background: #0ef;
      transition: width 0.4s ease;
    }

    /* hover effect */
    .navbar-nav .nav-link:hover::after {
      width: 100%;
    }

    .navbar-nav .nav-link:hover {
      color: #0ef;
    }

    /* active link */
    .navbar-nav .nav-link.active::after {
      width: 100%;
    }

    .navbar-nav .nav-link:hover,
    .navbar-nav .nav-link.active {
      color: #0ef;
    }

    /* ================= HERO ================= */
    .hero {
      min-height: 90vh;
      display: flex;
      align-items: center;
    }

    .hero-left h3 {
      font-size: 22px;
      margin-bottom: 10px;
    }

    .hero-left h1 {
      font-size: 48px;
      font-weight: 700;
    }

    .hero-left h2 {
      font-size: 32px;
      margin: 12px 0;
    }

    .hero-left h2 span {
      color: #0ef;
    }

    .hero-left p {
      color: #bfc3d1;
      margin: 20px 0;
      line-height: 1.7;
      max-width: 500px;
    }

    /* ================= SOCIAL ================= */
    .socials {
      display: flex;
      gap: 15px;
      margin-bottom: 30px;
    }

    .service-card {
      background: #17171d;
      padding: 35px 30px;
      border-radius: 20px;
      text-align: center;
      color: #fff;
      transition: 0.4s;
      height: 100%;
    }

    .service-card i {
      font-size: 40px;
      color: #0ef;
      margin-bottom: 20px;
    }

    .service-card h3 {
      margin-bottom: 12px;
    }

    .service-card p {
      color: #bbb;
      line-height: 1.6;
      font-size: 15px;
    }

    .service-card:hover {
      transform: translateY(-10px);
      box-shadow: 0 0 20px rgba(0, 238, 255, 0.25);
      transition: 0.5s;
    }

    .socials a {
      width: 42px;
      height: 42px;
      border: 2px solid #0ef;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #0ef;
      text-decoration: none;
      transition: .3s;
    }

    .socials a:hover {
      background: #0ef;
      color: #0c0f16;
    }



    #more {
      display: none;
    }

    .read-btn {
      margin-top: 15px;
      padding: 10px 28px;
      border-radius: 25px;
      background: transparent;
      border: 2px solid #0ef;
      color: #0ef;
      font-weight: 600;
      cursor: pointer;
      transition: 0.3s;
    }

    .read-btn:hover {
      background: #0ef;
      color: #000;
      box-shadow: 0 0 15px #0ef;
    }
#contact{
  padding: 80px 0;
  background: #0c0f16;
  color: #fff;
}

.section-title{
  color: #0ef;
  font-size: 36px;
}

.contact-info{
  background: #111;
  padding: 30px;
  border-radius: 20px;
  height: 100%;
}

.contact-info h3{
  margin-bottom: 15px;
}

.contact-info p{
  color: #bbb;
  margin-bottom: 20px;
}

.contact-info ul{
  list-style: none;
  padding: 0;
}

.contact-info ul li{
  margin-bottom: 12px;
  color: #ddd;
}

.contact-info i{
  color: #0ef;
  margin-right: 10px;
}

/* FORM */
.contact-form input,
.contact-form textarea{
  width: 100%;
  padding: 14px;
  background: #111;
  border: none;
  outline: none;
  color: #fff;
  border-radius: 10px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder{
  color: #777;
}

.contact-btn{
  padding: 12px 30px;
  background: #0ef;
  border: none;
  border-radius: 25px;
  color: #000;
  font-weight: 600;
  transition: 0.3s;
}

.contact-btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(0,238,255,0.6);
}

    /* ================= BUTTON ================= */
    /* .btn-custom{
      padding:12px 34px;
      background:#0ef;
      color:#0c0f16;
      border-radius:30px;
      text-decoration:none;
      font-weight:600;
      box-shadow:0 0 20px #0ef;
      display:inline-block;
      /* gap: 20px; */
    .btn-custom {
      position: relative;
      padding: 12px 34px;
      border-radius: 30px;
      text-decoration: none;
      font-weight: 600;
      display: inline-block;
      overflow: hidden;
      transition: color 0.4s ease;
    }

    .btn-filled {
      background: #0ef;
      color: #0c0f16;
      box-shadow: 0 0 20px #0ef;
    }
/* ================= SCROLL ANIMATIONS ================= */
.reveal,
.reveal-left,
.reveal-right,
.reveal-zoom{
  opacity: 0;
  transition: all 0.9s ease;
}

/* bottom */
.reveal{
  transform: translateY(60px);
}

/* left */
.reveal-left{
  transform: translateX(-80px);
}

/* right */
.reveal-right{
  transform: translateX(80px);
}

/* zoom */
.reveal-zoom{
  transform: scale(0.85);
}

/* ACTIVE STATE */
.reveal.active,
.reveal-left.active,
.reveal-right.active,
.reveal-zoom.active{
  opacity: 1;
  transform: none;
}

/* stagger delay */
.delay-1{ transition-delay: .1s; }
.delay-2{ transition-delay: .2s; }
.delay-3{ transition-delay: .3s; }
.delay-4{ transition-delay: .4s; }
.delay-5{ transition-delay: .5s; }

    .btn-outline {
      border: 2px solid #0ef;
      color: #0ef;
      background: transparent;
    }

    /* fill layer */
    .btn-outline::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 100%;
      background: #0ef;
      z-index: -1;
      transition: width 0.4s ease;
    }

    .btn-outline:hover::before {
      width: 100%;
    }

    .btn-outline:hover {
      color: #0c0f16;
      box-shadow: 0 0 20px #0ef;
    }


    /* ================= IMAGE HEXAGON ================= */
    .hero-right {
      display: flex;

    }

    #projects {
      padding: 80px 8%;

    }

    .project-title {
      text-align: center;
      font-size: 36px;
      color: #0ef;
      margin-bottom: 50px;
    }

    .project-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      gap: 30px;
    }

    .project-card {
      position: relative;
      border-radius: 20px;
      overflow: hidden;
      cursor: pointer;
      width: 100%;
      height: 200px;

    }

    .project-card img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: 0.5s;
    }

    .project-overlay {
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.75);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 20px;
      opacity: 0;
      transition: 0.5s;
    }

    .project-overlay h3 {
      color: #fff;
      margin-bottom: 10px;
    }

    .project-overlay p {
      color: #ccc;
      font-size: 14px;
      margin-bottom: 20px;
    }

    .project-card::after {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(0, 0, 0, 0.45);
      /* yahin se darkness control */
      z-index: 1;
      pointer-events: none;
    }

    .project-btn {
      padding: 10px 25px;
      border-radius: 25px;
      border: 2px solid #0ef;
      color: #0ef;
      text-decoration: none;
      transition: 0.3s;
    }

    .project-btn:hover {
      background: #0ef;
      color: #000;
    }

    .project-card:hover img {
      transform: scale(1.1);
    }

    .project-card:hover .project-overlay {
      opacity: 100%;
    }

    .abt {
      margin-top: 80px;
    }

    .hhh {
      width: 580px;
      filter: drop-shadow(0 0 10px rgba(0, 238, 255, 0.4));
    }

    .hh {
      width: 600px;
      filter: drop-shadow(0 0 10px rgba(0, 238, 255, 0.4));
    }

    .abt p {
      line-height: 1.8;
    }

    /* ================= RESPONSIVE ================= */
    @media(max-width:992px) {
      .hero {
        text-align: center;
      }

      .hero-left p {
        margin-left: auto;
        margin-right: auto;
      }

      .socials {
        justify-content: center;
      }

      .hero-right {
        margin-top: 50px;
      }
    }

    @media(max-width:576px) {
      .hero-left h1 {
        font-size: 36px;
      }

      .hero-left h2 {
        font-size: 26px;
      }

    }